body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

/* Styles pour la barre de navigation en haut de la page */
.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    /* Assure que la barre de navigation reste au-dessus des autres éléments */
}

.welcome-message {
    font-size: 1em;
}

.logout-button {
    color: white;
    background-color: #f44336;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s;
    border: none;
    /* Pour un style de bouton */
    cursor: pointer;
    /* Curseur de bouton */
    font-size: 1em;
}

.submit-button {
    color: white;
    background-color: #f44336;
    padding: 10px 20px;
    transition: background-color 0.3s;
    border-radius: 10px;
}

.logout-button:hover,
.submit-button:hover {
    background-color: #d32f2f;
}

.submit-container {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    margin-top: 20px;
    width: calc(100% - 40px);
    box-sizing: border-box;
}

/* Styles pour décaler le contenu principal pour éviter le chevauchement avec la barre de navigation */
header,
main {
    padding-top: 60px;
    /* Ajuster pour correspondre à la hauteur de la barre de navigation */
}

head {
    font-family: Arial, sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 0;
}

header {
    background: url('/images/MAIN_PICTURE/IMAGE\ EDUSHARE\ WIZZARD.webp') no-repeat center center/cover;
    height: 1080px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-container {
    width: 50%;
}

#search-bar {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

.tutoriel-tendance {
    background-color: white;
    color: #4b3f72;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    /* Ensure all items in the same row have the same height */
}

.tutoriel-tendance h2 {
    text-align: center;
    margin-top: 0;
    color: #4b3f72;
    width: 100%;
}

.tutoriel {
    background-color: #fff;
    padding: 15px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: calc(33% - 40px);
    box-sizing: border-box;
    vertical-align: top;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* Ensure content is aligned to the top */
}

.tutoriel img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 5px;
}

.tuto-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.tuto-info h3 {
    margin: 5px 0;
}

.tuto-info p {
    font-size: 14px;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 12;
    -webkit-box-orient: vertical;
    margin-bottom: 10px;
    /* Ensure space between paragraph and the link */
}

.tuto-info a {
    text-decoration: none;
    color: #cda434;
    margin-top: 10px;
    /* Ajoute un espace au-dessus du lien */
    /* Supprime la propriété qui pousse le lien vers le bas */
}

.tuto-info span {
    display: block;
    text-align: right;
    background-color: #ffd700;
    padding: 5px 10px;
    border-radius: 10px;
    width: fit-content;
    margin-left: auto;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #2c2639;
    color: white;
}

.main-content {
    display: flex;
    padding: 20px;
}

.category-menu {
    overflow: hidden;
}

.category-menu ul {
    list-style-type: none;
    /* Supprime les puces */
    padding: 0;
    margin: 0;
}

.category-menu li {
    margin-bottom: 2px;
    /* Espacement entre les éléments de la liste */
}

.category-link {
    display: inline-block;
    padding: 5px 10px;
    /* Réduit la taille des boutons */
    background-color: #b385b3;
    /* Couleur de fond violet clair */
    color: white;
    text-decoration: none;
    border-radius: 3px;
    /* Arrondit légèrement les coins */
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Réduit l'ombre */
    margin: 5px;
    /* Réduit l'espace autour du bouton */
}

.category-link:hover {
    background-color: #a074a0;
    /* Couleur de fond au survol, un peu plus foncé */
}

.category-link:active {
    transform: scale(0.95);
    /* Réduit légèrement la taille du bouton quand on clique dessus */
}

.back-to-home {
    display: inline-block;
    background-color: #b385b3;
    /* Couleur de fond violet clair */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    align-items: right;
    /* Aligne le bouton à droite */
    margin: 10px;
    /* Espace autour du bouton */
}

.back-to-home:hover {
    background-color: #a074a0;
    /* Couleur de fond au survol, un peu plus foncé */
}

.back-to-home:active {
    transform: scale(0.95);
    /* Réduit légèrement la taille du bouton quand on clique dessus */
}