body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f7;
    margin: 0;
    padding: 0;
}

header {
    background: url('/images/IMAGE\ EDUSHARE\ WIZZARD.webp') no-repeat center center/cover;
    height: 1080px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-container {
    width: 50%;
}

#search-bar {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

.tutoriel-tendance {
    background-color: white;
    /* Fond blanc pour le cadre */
    color: #4b3f72;
    /* Couleur du texte changée pour une meilleure visibilité sur fond blanc */
    padding: 20px;
    /* Garde le padding pour l'espacement interne */
    margin: 20px auto;
    /* Ajoute un margin pour centrer le bloc et ajouter de l'espace autour */
    width: 80%;
    /* Limite la largeur du bloc à 80% pour ne pas occuper toute la largeur */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Ajoute une ombre douce pour un effet de profondeur */
    border-radius: 10px;
    /* Arrondit les coins du cadre */
}

.tutoriel-tendance h2 {
    text-align: center;
    /* Centre le texte horizontalement */
    margin-top: 0;
    /* Supprime la marge supérieure pour aligner le titre au haut du cadre si nécessaire */
    margin-bottom: 20px;
    /* Ajoute un peu d'espace sous le titre pour séparer du contenu suivant */
    color: #4b3f72;
    /* Assure que la couleur du titre est bien visible sur le fond blanc */
}


.tutoriel {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.tutoriel img {
    width: 150px;
    height: 100px;
    border-radius: 5px;
    margin-right: 20px;
}

.tuto-info h3 {
    margin: 0;
}

.tuto-info p {
    font-size: 14px;
}

.tuto-info a {
    text-decoration: none;
    color: #cda434;
}

.tuto-info span {
    display: block;
    /* Rend le span un bloc pour permettre le positionnement */
    text-align: right;
    /* Aligner le texte (les étoiles) à droite */
    background-color: #ffd700;
    /* Met un fond jaune (ou toute autre couleur de votre choix) */
    padding: 5px 10px;
    /* Ajoute un peu de padding autour des étoiles */
    border-radius: 10px;
    /* Arrondit les coins du fond */
    width: fit-content;
    /* Assure que la largeur du fond correspond au contenu */
    margin-left: auto;
    /* Pousse le bloc vers la droite */
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #2c2639;
    color: white;
}